<%
  unit_tests = Integer(measure('sonar.testpyramid.unittests').value)
  integration_tests = Integer(measure('sonar.testpyramid.integrationtests').value)
  functional_tests = Integer(measure('sonar.testpyramid.functionaltests').value)

  max = [unit_tests, integration_tests, functional_tests].max

  def calculate_width(value, max)
    ((80 * value)/max).to_i.to_s + "%"
  end

  unit_tests_width = calculate_width(unit_tests, max)
  integration_tests_width = calculate_width(integration_tests, max)
  functional_tests_width = calculate_width(functional_tests, max)
%>

<div>
  <h3>Test Pyramid</h3>
  <h4>Functional Tests</h4>
  <div style='width:<%= functional_tests_width %>;background-color:red;padding:10px;color:white' ><%= functional_tests %></div><%= tendency_icon(measure('sonar.testpyramid.functionaltests')) %>
  <h4>Integration Tests</h4>
  <div style='width:<%= integration_tests_width %>;background-color:green;padding:10px;color:white' ><%= integration_tests %></div><%= tendency_icon(measure('sonar.testpyramid.integrationtests')) %>
  <h4>Unit Tests</h4>
  <div style='width:<%= unit_tests_width %>;background-color:blue;padding:10px;color:white' ><%= unit_tests %></div><%= tendency_icon(measure('sonar.testpyramid.unittests')) %>
</div>
